{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wagtail_landing.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="line-orange"></div>

        <div class="content-page-background">

        <div class="align-top content-page--header-background">
            <div class="row">
              <div class="col-sm-12">
              
                <div class="main-header p-3 text-white text-center">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                          <img class="landing-logo" src="{% static 'images/Logo-01.png' %}" alt="">
                      </div>
                      <div class="col-xs-12 col-sm-6 social-buttons">
                        <div class="container">
                            <a href="#" class="fa fa-instagram icon-black"></a>
                            <a href="#" class="fa fa-twitter icon-black"></a>
                            <a href="#" class="fa fa-facebook icon-black"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">

                <button class="navbar-toggler content-page-toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
          

                <div class="collapse navbar-collapse nav-list-collapse" id="navbarSupportedContent">

          

                <nav class="navbar navbar-expand-sm justify-content-center">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a style="color: red; " class="nav-link red-btn" href="#">Our wellbeing</a>
                    </li>
                    <li class="nav-item">
                      <a style="color: darkblue;" class="nav-link darkblue-btn" href="#">Money Matters</a>
                    </li>
                    <li class="nav-item">
                      <a style="color: black;" class="nav-link" href="#">Alternatives to gambling</a>
                    </li>
                    <li class="nav-item">
                      <a style="color: blue;" class="nav-link blue-btn" href="#">How to give & get help</a>
                    </li>
                    <li class="nav-item">
                      <a style="color: green;" class="nav-link green-btn" href="#">Who makes this website?</a>
                    </li>
                  </ul>
                </nav>
                </div>
          
              </div>
              </div>
          
            </div>
          </div>


        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>      
        <script type="text/javascript" src="{% static 'js/wagtail_landing.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
