{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}


<img src="{% static 'images/header-bg.jpg' %}" alt="Fjords" style="width:100%">
<div class="home-bg">


</div>

<img src="{% static 'images/Background-Pattern~1.png' %}" alt="" style="width:100%">
<div class="sub-bg">
<div class=" container">
  <div class="row">
    <div class="col-sm-12">

      <div class="container">
        <div class="row">
          <div class="col">
            
          </div>
          <div class="col-6">
            <div class="container">

              <h1>Header</h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget erat tortor. Nam a tellus laoreet,
                ornare arcua, interdum mi. Vivamus in vestibulum lorem. Cras ut viverra justo. Integer eu nulla nulla.</p>




              <div class="row row-cols-3">
      
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'images/content/Money freedom-01~1.jpg' %}" alt="Fjords" style="width:100%">
      
                    <div class="card-body">
                      <p class="card-text">Money freedom</p>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'images/content/Stories-01~1.jpg' %}" alt="Fjords" style="width:100%">
      
                    <div class="card-body">
                      <p class="card-text">Stories</p>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'images/content/Money Knowledge-01~1.jpg' %}" alt="Fjords" style="width:100%">
      
                    <div class="card-body">
                      <p class="card-text">Money knowledge</p>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'images/content/Safer gambling strategies-01~1.jpg' %}" alt="Fjords" style="width:100%">
      
                    <div class="card-body">
                      <p class="card-text">Safer Gambling strategies</p>
                    </div>
                  </div>
                </div>
      
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static 'images/content/Where does the money go-01~1.jpg' %}" alt="Fjords" style="width:100%">
      
                    <div class="card-body">
                      <p class="card-text">Where does the money go</p>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
          <div class="col">
            
          </div>
        </div>
  
      </div>



      
    </div>

  </div>
</div>
</div>


<div class="footer-bg">
    <img src="{% static 'images/footer/Footer Oattern.png' %}" alt="" style="width:100%">
<div class="container">
  <footer class="py-3 my-4 ">
    <div class="container">
      
      <div class="row">
        <div class="col-3">
          <div class="col-lg-3 my-3 my-lg-0">
            <a class="btn btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
        </div>
        <div class="col-7">
          <h3 style="text-align: left;">1800 858 858</h3>
          <p style="text-align: left;">free, confidential, 24/7 gambling helpline</p>
        </div>
        <div class="col-2">
          <img src="{% static 'images/footer/Footer Logo-01~1.png' %}" alt="Fjords" style="width:100%">
          <div class="footer-img"></div>
        </div>
      </div>
    
    </div>

    <br>
    <div class="line"></div>
    <br>

    <ul class="nav col-md-4 justify-content-start">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Terms of use</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Privacy policy</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact us</a></li>
    </ul>
  </footer>
</div>

</div>


{% endblock %}
